/* Basic Slider
--------------------------------------------------------------------------------------------------------------- */
.txtoverlay{display:block; position:absolute; bottom:0; left:0; width:100%; height:100%; margin:0; padding:0; white-space:normal;}
.centralise{display:block; max-width:978px; height:100%; margin:0 auto; padding:0;}
.verticalwrap{display:table; width:100%; height:100%; border:none; text-align:center; top:0; position: relative;}
.txtoverlay article{/*display:table-cell; padding:0; border:none; vertical-align:middle;*/ float: right;
    margin: 0 auto;
    padding: 150px 80px 0 0;
    text-align: left;
    /*width: 420px;*/ width:auto;}
.txtoverlay .heading{ color: #fff;
    display: block;
    font-family: 'KeepCalm-Medium';
    font-size: 31.45px;
    line-height: 50px;
    margin: 0;
    padding: 0;
    text-transform: uppercase; text-shadow: 2px 2px 2px rgba(79, 79, 79, 0.7); text-align:right;}
	
.txtoverlay p {color: #FFFFFF; font-family: 'KeepCalm-Medium'; font-size:15.35px; line-height: 25px; margin-top: 0px; padding-bottom:10px;}
.txtoverlay a{color:#fff;font-size:13.43px;font-family: 'KeepCalm-Medium';line-height:36px; border:1px solid #fff;text-decoration:none;display:inline-block; padding:0 15px; text-transform:uppercase; transition: all 0.5s ease;}
.txtoverlay a:hover {
text-decoration:none; color:#fff; border-top:1px solid #fff; border-bottom:1px solid #fff; box-shadow: inset 150px 0 0 0 #ffc11b;}



.txtoverlay .btn{display:inline-block; padding:15px 30px; border-radius:8px; text-transform:uppercase; font-weight:bold;}
.txtoverlay .pushright{margin-right:25px;}


.swipe-matter h2 {color: #fff; display: block; font-family: 'KeepCalm-Medium'; font-size: 31.45px; line-height: 50px; margin: 0; padding: 0; text-transform: uppercase;}



@media screen and (max-width:480px)
{	
.txtoverlay article{float:none; width:80%; margin:0 auto; padding:90px 0 0 0; text-align:center;}
.txtoverlay .heading{font-size:10px; line-height:15px; text-align:center;}
.txtoverlay p{font-size:8px; line-height:12px;}
.txtoverlay a{font-size:8px;}
.flex-direction-nav .flex-next{right:10px !important;}
.flex-direction-nav .flex-prev{left:10px !important;}
.flex-direction-nav a{margin-top:-20px !important;}

}


@media screen and (min-width:481px) and (max-width:768px)
{	
.txtoverlay article{float:none; width:80%; margin:0 auto; padding:90px 0 0 0; text-align:center;}
.txtoverlay .heading{font-size:15px; line-height:30px; text-align:center;}
.txtoverlay p{font-size:12px;}
.txtoverlay a{font-size:10px;}
.flex-direction-nav .flex-next{right:10px !important;}
.flex-direction-nav .flex-prev{left:10px !important;}

}



@media screen and (min-width:180px) and (max-width:900px) {
	

	/*.basicslider .heading{font-size:36px; line-height:36px; margin-bottom:15px;}
	.basicslider .btn{padding:10px 25px;}*/

}


/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:978px) {
	#header, #services, #cta, #breadcrumb, .container, #footer, #copyright{max-width:978px;}
}


/* Other
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:650px) {
	.scrollable{display:block; width:100%; margin:0 0 30px 0; padding:0 0 15px 0; overflow:auto; overflow-x:scroll;}
	.scrollable table{margin:0; padding:0; white-space:nowrap;}
	/*.basicslider .txtoverlay{display:none}*/

	
}